<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmer Form</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<form action="http://127.0.0.1:5000/predict" method="post">
    <input type="text" name="month"  placeholder="Month" id="month" />
    <input type="text" name="sunlight"  placeholder="Sunlight" id="sunlight" />
    <input type="text" name="temperature"  placeholder="temperature" id="temperature" />
    <input type="text" name="humidity"  placeholder="humidity" id="humidity" />
    <input type="text" name="electricity"  placeholder="electricity" id="electricity" />
    <input type="text" name="rainfall"  placeholder="rainfall" id="rainfall" />

    <input type="submit" value="Submit" />
</form>


</body>
</html>